* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #193543;
  font-size: 1.3rem;
}

img {
  width: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  text-align: center;
}

/* Home Page */

.home-page {
  height: 65vh;
  display: flex;
  flex-direction: column;
  background: url('../img/masthead.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  text-align: center;
  padding: 5rem;
  overflow: hidden;
}

.home-page p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  text-align: center;
}

.home-page ul {
  list-style: none;
  display: flex;
}

.home-page li {
  padding: 0 1.5rem;
}

.fa-github,
.fa-linkedin,
.fa-envelope {
  font-size: 3rem;
}

.fa-linkedin {
  /* font-size: 3rem; */
}

/* Project Page */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}

.project-header {
  height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  color: #f1f1f1;
}

/* Project Cards */
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #f1f1f1;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 2rem;
}

/* .card img {
  height: 400px;
} */

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

/* Navigation */

.navbar {
  background-color: #3b5998;
  overflow: hidden;
  height: 4rem;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 3.75rem;
  transition: 0.5s;
}

.side-nav a {
  padding: 0.63rem 0.63rem 0.63rem 1.87rem;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.fa-bars {
  font-size: 2rem;
}

@media (max-width: 48rem) {
  .navbar-nav {
    display: none;
  }

  .card {
    display: block;
  }
}

@media (min-width: 48rem) {
  .home-page {
    height: 92vh;
  }
  .open-slide {
    display: none;
  }
}
