* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#000000, #ff0000);
  font-size: 1.3rem;
}

img {
  width: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: #193543;
}

/* Home Page */

.home-page {
  background-color: rgba(0, 0, 0, 0.5);
  height: 70vh;
  position: relative;
}

.home-page:before {
  content: '';
  background: url('../img/masthead.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.home-page-content h1 {
  color: #f5deb3;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.home-page p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  text-align: center;
  color: #f5deb3;
}

.home-page ul {
  list-style: none;
  display: flex;
}

.home-page li {
  padding: 0 1.5rem;
}

.fa-github,
.fa-linkedin,
.fa-envelope {
  font-size: 3rem;
}

.fa-github,
.fa-linkedin,
.fa-envelope {
  color: #f5deb3;
}

/* Project Page */
.container {
  background-color: #000000;
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem 2rem 2rem;
}

.portfolio-header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 70vh;
  position: relative;
}

.portfolio-header:before {
  content: '';
  background: url('../img/portfolio-hero.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.portfolio-header h1 {
  display: flex;
  flex-direction: column;
  color: #f5deb3;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

/* Portfolio Cards */
.card {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #f1f1f1;
  margin-top: 2rem;
}

.card h3 {
  margin-bottom: 1rem;
}

.card img {
  height: 100%;
}

.card p {
  margin-bottom: 1rem;
}

.card > div {
  padding: 2rem;
}

.card:nth-child(even) img {
  order: 2;
}

/* Navigation */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background-color: #193543; */
  background-color: #111;
  overflow: hidden;
  height: 4rem;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #f5deb3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #f5deb3;
  color: #193543;
}

.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 3.75rem;
  transition: 0.5s;
}

.side-nav a {
  padding: 0.63rem 0.63rem 0.63rem 1.87rem;
  text-decoration: none;
  font-size: 22px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

.fa-bars {
  font-size: 2rem;
}

.btn {
  background-color: #008cba;
  border: none;
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 48rem) {
  .navbar-nav {
    display: none;
  }

  .portfolio-header {
    height: 92vh;
  }

  .card {
    display: block;
  }
}

@media (min-width: 48rem) {
  .home-page {
    height: 100vh;
  }
  .open-slide {
    display: none;
  }
}
