:root {
  --menu-padding: 50px;
}

body {
  /* height: 4000px; */
  /* background: gray; */
}

h1 {
  font-size: 3em;
  text-align: center;
  color: #193543;
}

h2 {
  text-align: center;
  width: 100vw;
}

h3 {
  text-align: center;
  color: #193543;
}

.navbar a:hover {
  background-color: red;
  color: #fff
	/* color: rgb(108,202,202); */
}

.masthead {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("./images/masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.myprojects {
  padding-top: var(--menu-padding);
  padding: 10rem 0;
  background: linear-gradient(to bottom, #193543, #869da5);
}

.myprojects .featured-text {
  padding: 2rem;
}

.contact {
  padding-top: var(--menu-padding);
  background-color: #869da5;
  height: 300px;
}

.footer {
  padding-top: var(--menu-padding);
  background: blue;
}
