body {
  padding-top: 50px;
}
h1 {
  font-size: 3em;
  color: orange;
}

.navbar a:hover {
	background-color: red;
  color: #fff
	/* color: rgb(108,202,202); */
}

.about {
  width: 100%;
  height: 300px;
  background: linear-gradient(to left, #21bbb2, #0747c3);
}

.myProjects {
  display: flex;
  flex-wrap: wrap;;
  justify-content: space-around;
  background: linear-gradient(to right, #21bbb2, #0747c3);
}

.contact {
  background: linear-gradient(to left, #21bbb2, #0747c3);
  height: 300px;
}

.footer {
  background: blue;
}
